<<div class="container">
  <h2>Lista Zakupów</h2>
  <a href="/purchasedTrip-update" role="button" class="btn btn-success">Kup Wycieczkę</a>
  <p></p>

  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Wycieczka</th>
      <th scope="col">Ilość</th>
      <th scope="col">Kupujący</th>
      <th scope="col">Akcja</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let purchasedTrip of purchasedTrips">
      <td>{{purchasedTrip.id}}</td>
      <td>{{purchasedTrip.tripId.airportTo.cityId.name}}</td>
      <td>{{purchasedTrip.amount}}</td>
      <td>
        {{purchasedTrip.userId.name}}
      </td>
      <td>
        <!--wywołanie w przeglądarce adresu -->
        <a href="/purchasedTrip-editor/{{purchasedTrip.id}}" role="button" class="btn btn-primary btn-sm">Modyfikuj</a>
        <!--przycisk działa -->
        <a type="button" class="btn btn-danger btn-sm" (click)="delete(purchasedTrip.id)">Usuń</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
