<div class="container">
  <h2>Modyfikuj kraj</h2>
  <form (ngSubmit)="update()" #countryForm="ngForm">
    <input type="hidden" name="countryId" [(ngModel)]="country.id">

    <div class="form-group">
      <label for="nameId">Kraj</label>
      <input type="text" class="form-control" name="name" id="nameId" placeholder="Wprowadź Kraj"
             [(ngModel)]="country.name"/>
      <label for="countryContinentId">Id Kontynentu</label>
      <input type="text" class="form-control" name="countryContinentId" id="countryContinentId" placeholder="Wprowadź Id Kontynentu"
             [(ngModel)]="country.continentId"/>
    </div>
    <div class="form-group">
      <label for="power">Wyberz kontynent z listy</label>
      <select class="form-control" id="power"
              [(ngModel)]="country.continentId" name="continentId" required>
        <option *ngFor="let continent of continents" [value]="continent.id"> {{continent.name}}</option>
      </select>
    </div>

    <!--(click) definiuje nazwę metody,  którą należy zdefiniować w ts a będzie wywołana na skutek wciśnięcia przycisku -->
    <button type="button" class="btn btn-warning" (click)="goBack()">Powrót do lity krajów</button>
    <button type="submit" class="btn btn-primary float-right">Zapisz</button>
  </form>
</div>
