<div class="container">
  <h2>Lista Użytkowników</h2>
  <a href="/continent-update" role="button" class="btn btn-success">Dodaj Kontynent</a>
  <p>
    user-list works!
  </p>

  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Kontynent</th>
      <th scope="col">Akcja</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let continent of continents">
      <td>{{continent.id}}</td>
      <td>{{continent.name}}</td>
      <td>
        <!--wywołanie w przeglądarce adresu -->
        <a href="/continent-editor/{{continent.id}}" role="button" class="btn btn-primary btn-sm">Modyfikuj</a>
        <!--przycisk działa -->
        <a type="button" class="btn btn-danger btn-sm" (click)="delete(continent.id)">Usuń</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
