<div class="container">
  <h2>Modyfikuj Użytkownika</h2>
  <!-- (ngSubmit) określa definiuje nazwę metody która zostanie wywołana podczas submitu formularza -->
  <!--ngForm pozwala utworzyć zmienną, którą będziemy później wykorzystywać -->
  <form (ngSubmit)="onUpdate()" #userForm="ngForm">
    <input type="hidden" name="userId" [(ngModel)]="user.id">

    <div class="form-group">
      <label for="nameId">Imię</label>
      <input type="text" class="form-control" name="userName" id="nameId"
             placeholder="Wprowadź imię"
             [(ngModel)]="user.name"/>
    </div>

    <div class="form-group">
      <label for="lastNameId">Nazwisko</label>
      <!-- [(ngModel)]- służy do wiazania danych html <-> ts. Wartość user to nazwa pola która występuje w pliku ts   -->
      <input type="text" class="form-control" name="userLastName" id="lastNameId" placeholder="Wprowadź Nazwisko"
             [(ngModel)]="user.lastName"/>
    </div>

    <div class="form-group">
      <label for="bornYearId">Rok Urodzenia</label>
      <input type="text" class="form-control" name="userAge" id="bornYearId" [(ngModel)]="user.bornYear"
             placeholder="Wprowadź rok urodzenia">
    </div>

    <div class="form-group">
      <label for="phoneNumberId">Numer Telefonu</label>
      <input type="text" class="form-control" name="userPhone" id="phoneNumberId" [(ngModel)]="user.phoneNumber"
             placeholder="Wprowadź nr telefonu">
    </div>

    <!--(click) definiuje nazwę metody,  którą należy zdefiniować w ts a będzie wywołana na skutek wciśnięcia przycisku -->
    <button type="button" class="btn btn-warning" (click)="goBack()">Powrót do lity użytkowników</button>
    <button type="submit" class="btn btn-primary float-right">Zapisz</button>
  </form>
  <p></p>
</div>
