<div class="container">
  <h2>Lista Hoteli</h2>
  <a href="/hotel-update" role="button" class="btn btn-success">Dodaj Hotel</a>
  <p></p>

  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Hotel</th>
      <th scope="col">Standard</th>
      <th scope="col">Opis</th>
      <th scope="col">Miasto</th>
      <th scope="col">Kraj</th>
      <th scope="col">Kontynent</th>
      <th scope="col">Akcja</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let hotel of hotels">
      <td>{{hotel.id}}</td>
      <td>{{hotel.name}}</td>
      <td> {{hotel.standard}}</td>
      <td> {{hotel.description}}</td>
      <td>
        {{hotel.cityId.name}}
      </td>
      <td>
        {{hotel.cityId.countryId.name}}
      </td>
      <td>
        {{hotel.cityId.countryId.continentId.name}}
      </td>
      <td>
        <!--wywołanie w przeglądarce adresu -->
        <a href="/hotel-editor/{{hotel.id}}" role="button" class="btn btn-primary btn-sm">Modyfikuj</a>
        <!--przycisk działa -->
        <a type="button" class="btn btn-danger btn-sm" (click)="delete(hotel.id)">Usuń</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
