<div class="container">
  <h2>Dodaj lotnisko</h2>
  <form (ngSubmit)="save()" #airportForm="ngForm">
    <input type="hidden" name="airportId" [(ngModel)]="airport.id">

    <div class="form-group">
      <label for="nameId">Lotnisko</label>
      <input type="text" class="form-control" name="name" id="nameId" placeholder="Wprowadź Nazwę Lotniska"
             [(ngModel)]="airport.name"/>

      <label for="CityId">Id Miasta</label>
      <input type="text" class="form-control" name="cityName" id="CityId" placeholder="Wprowadź Id Miasta"
             [(ngModel)]="airport.cityId"/>
    </div>
    <div class="form-group">
      <label for="power">Wybierz kraj z listy</label>
      <select class="form-control" id="power"
              [(ngModel)]="airport.cityId" name="cityId" required>
        <option *ngFor="let city of cities" [value]="city.id"> {{city.name}}</option>
      </select>
    </div>

    <!--(click) definiuje nazwę metody,  którą należy zdefiniować w ts a będzie wywołana na skutek wciśnięcia przycisku -->
    <button type="button" class="btn btn-warning" (click)="goBack()">Powrót do lity lotnisk</button>
    <button type="submit" class="btn btn-primary float-right">Zapisz</button>
  </form>
</div>

