<div class="container">
  <h2>Lista Miast</h2>
  <a href="/city-update" role="button" class="btn btn-success">Dodaj Miasto</a>
  <p></p>

  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Miasto</th>
      <th scope="col">Kraj</th>
      <th scope="col">Kontynent</th>
      <th scope="col">Akcja</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let city of cities">
      <td>{{city.id}}</td>
      <td>{{city.name}}</td>
      <td>
        {{city.countryId.name}}
      </td>
      <td>
        {{city.countryId.continentId.name}}
      </td>
      <td>
        <!--wywołanie w przeglądarce adresu -->
        <a href="/city-editor/{{city.id}}" role="button" class="btn btn-primary btn-sm">Modyfikuj</a>
        <!--przycisk działa -->
        <a type="button" class="btn btn-danger btn-sm" (click)="delete(city.id)">Usuń</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
