<!-- The content below is only a placeholder and can be replaced. -->


<div class="container">
 <!-- <ul> -->
    <!-- <li><a routerLink="/dashboard">Active</a></li> -->
    <li class="dropdown">
    <button class="dropbtn" >Dropdown</button>
    <div class="dropdown-content">
      <a class="nav-link" routerLink="/user-list">Lista Użytkowników</a>
      <a class="nav-link" routerLink="/trip-list">Lista Wycieczek</a>
      <a class="nav-link" routerLink="/purchasedTrip-list">Lista Zamowień</a>
      <a class="nav-link" routerLink="/country-list">Lista Krajów</a>
      <a class="nav-link" routerLink="/city-list">Lista Miast</a>
      <a class="nav-link" routerLink="/hotel-list">Lista Hoteli</a>
      <a class="nav-link" routerLink="/continent-list">Lista Kontynentów</a>
    </div>
  </li>
<!-- </ul> -->
  <h2>h2</h2>  
  
  <a class="nav-link" href="/login">Login</a>
  
  <h3>h3</h3> 

  <h3>h3</h3> 

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/dashboard">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user-list">Lista Użytkowników</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/continent-list">Lista Kontynentów</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/country-list">Lista Krajów</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/city-list">Lista Miast</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/airport-list">Lista Lotnisk</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/hotel-list">Lista Hoteli</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/trip-list">Lista Wycieczek</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/purchasedTrip-list">Lista Zamowień</a>
    </li>
  </ul>

  <h1></h1>
  <h1>{{title}}</h1>


  <a routerLink="/user-list">
    <button type="button" class="btn btn-primary">Lista użytkowników</button>
  </a>
  <h1></h1>
  <a routerLink="/dashboard">
    <button type="button" class="btn btn-primary">dashboard</button>
  </a>
  <h1></h1>
</div>
<router-outlet></router-outlet>


