<div class="container">
  <h2>Modyfikuj użytkownika</h2>
  <form (ngSubmit)="update()" #hotelForm="ngForm">
    <input type="hidden" name="tripId" [(ngModel)]="trip.id">

    <div class="form-group">
      <label for="airportFromId">Wyberz lotnisko z listy</label>
      <select class="form-control" id="airportFromId"
              [(ngModel)]="trip.airportFrom" name="airportFrom" required>
        <option *ngFor="let airport of airports" [value]="airport.id"> {{airport.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="airportToId">Wyberz lotnisko z listy</label>
      <select class="form-control" id="airportToId"
              [(ngModel)]="trip.airportTo" name="airportTo" required>
        <option *ngFor="let airport of airports" [value]="airport.id"> {{airport.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="power3">Wyberz hotel z listy</label>
      <select class="form-control" id="power3"
              [(ngModel)]="trip.hotelTo" name="airportFromId" required>
        <option *ngFor="let hotel of hotels" [value]="hotel.id"> {{hotel.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="power4">Wyberz miasto z listy</label>
      <select class="form-control" id="power4"
              [(ngModel)]="trip.cityTo" name="airportFromId" required>
        <option *ngFor="let city of cities" [value]="city.id"> {{city.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="departureDateId">data wyjazdu</label>
      <input type="text" class="form-control" name="departureDate" id="departureDateId"
             placeholder="wprowadź datę wyjazdu"
             [(ngModel)]="trip.departureDate"/>

      <label for="returnDateId">data powrotu</label>
      <input type="text" class="form-control" name="returnDate" id="returnDateId" placeholder="wprowadź datę powtoru"
             [(ngModel)]="trip.returnDate"/>

      <label for="standardId">Standard</label>
      <input type="text" class="form-control" name="nameStandard" id="standardId" placeholder="Wprowadź standard"
             [(ngModel)]="trip.type"/>

      <label for="priceForAdultId">cena dla dorosłych</label>
      <input type="text" class="form-control" name="priceForAdult" id="priceForAdultId" placeholder="Wprowadź cenę dla dorosłych"
             [(ngModel)]="trip.priceForAdult"/>

      <label for="priceForChildId">cena dla dziecka</label>
      <input type="text" class="form-control" name="priceForChild" id="priceForChildId" placeholder="Wprowadź cenę dla gówniaka"
             [(ngModel)]="trip.priceForChild"/>

      <label for="promotionId">promocja</label>
      <input type="text" class="form-control" name="nameDescription" id="promotionId" placeholder="Wprowadź opis promocji"
             [(ngModel)]="trip.promotion"/>

      <label for="countOfPersonId">ilość osób</label>
      <input type="text" class="form-control" name="countOfPerson" id="countOfPersonId" placeholder="Wprowadź ilość osób"
             [(ngModel)]="trip.countOfPerson"/>

      <label for="descriptionId">opis</label>
      <input type="text" class="form-control" name="cityName" id="descriptionId" placeholder="Wprowadź opis wycieczki"
             [(ngModel)]="trip.description"/>
    </div>

    <!--(click) definiuje nazwę metody,  którą należy zdefiniować w ts a będzie wywołana na skutek wciśnięcia przycisku -->
    <button type="button" class="btn btn-warning" (click)="goBack()">Powrót do lity podróży</button>
    <button type="submit" class="btn btn-primary float-right">Zapisz</button>
  </form>
  <p></p>
</div>
