<div class="container">
  <h2>Kup Wycieczkę</h2>
  <form (ngSubmit)="save()" #hotelForm="ngForm">
    <input type="hidden" name="tripId" [(ngModel)]="purchasedTrip.id">

    <div class="form-group">
      <label for="airportToId">Wyberz miejsce docelowe</label>
      <select class="form-control" id="airportToId"
              [(ngModel)]="purchasedTrip.tripId" name="airportTo" required>
        <option *ngFor="let trip of trips" [value]="trip.id"> {{trip.cityTo.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="amountId">liczba wycieczek</label>
      <input type="text" class="form-control" name="amount" id="amountId"
             placeholder="wprowadź ilość wycieczek"
             [(ngModel)]="purchasedTrip.amount"/>
    </div>

    <div class="form-group">
      <label for="power3">Wybierz Urzytkownika</label>
      <select class="form-control" id="power3"
              [(ngModel)]="purchasedTrip.userId" name="user" required>
        <option *ngFor="let user of users" [value]="user.id"> {{user.name}}</option>
      </select>
    </div>
    <!--(click) definiuje nazwę metody,  którą należy zdefiniować w ts a będzie wywołana na skutek wciśnięcia przycisku -->
    <button type="button" class="btn btn-warning" (click)="goBack()">Powrót do lity zakupów</button>
    <button type="submit" class="btn btn-primary float-right">Zapisz</button>
  </form>
  <p></p>
</div>
