<div class="container">
  <h2>Lista Użytkowników</h2>
  <a href="/user-update" role="button" class="btn btn-success">Dodaj użykownika</a>
  <p>
    user-list works!
  </p>

  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Imię</th>
      <th scope="col">Nazwisko</th>
      <th scope="col">Rok urodzenia</th>
      <th scope="col">Telefon</th>
      <th scope="col">Akcja</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.bornYear}}</td>
      <td>{{user.phoneNumber}}</td>
      <td>
        <!--wywołanie w przeglądarce adresu -->
        <a href="/user-editor/{{user.id}}" role="button" class="btn btn-primary btn-sm">Modyfikuj</a>
        <!--przycisk jeszcze nie obsłużony -->
        <a type="button" class="btn btn-danger btn-sm" (click)="delete(user.id)">Usuń</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
