<div class="container">
  <h2>Dodaj miasto do listy</h2>
  <form (ngSubmit)="save()" #cityForm="ngForm">
    <input type="hidden" name="cityId" [(ngModel)]="city.id">

    <div class="form-group">
      <label for="nameId">Miasto</label>
      <input type="text" class="form-control" name="name" id="nameId" placeholder="Wprowadź Nazwę Miasta"
             [(ngModel)]="city.name"/>

      <label for="CountryId">Id Kraju</label>
      <input type="text" class="form-control" name="countryName" id="CountryId" placeholder="Wprowadź Id Kraju"
             [(ngModel)]="city.countryId"/>
    </div>
    <div class="form-group">
      <label for="power">Wyberz kraj z listy</label>
      <select class="form-control" id="power"
              [(ngModel)]="city.countryId" name="continentId" required>
        <option *ngFor="let country of countries" [value]="country.id"> {{country.name}}</option>
      </select>
    </div>

    <!--(click) definiuje nazwę metody,  którą należy zdefiniować w ts a będzie wywołana na skutek wciśnięcia przycisku -->
    <button type="button" class="btn btn-warning" (click)="goBack()">Powrót do lity miast</button>
    <button type="submit" class="btn btn-primary float-right">Zapisz</button>
  </form>
</div>
