<div class="container">
  <!-- (ngSubmit) określa definiuje nazwę metody która zostanie wywołana podczas submitu formularza -->
  <!--ngForm pozwala utworzyć zmienną, którą będziemy później wykorzystywać -->
  <form (ngSubmit)="onUpdate()" #continentForm="ngForm">
    <input type="hidden" name="continentid" [(ngModel)]="continent.id">

    <div class="form-group">
      <label for="nameId">Kontynent</label>
      <!-- [(ngModel)]- służy do wiazania danych html <-> ts. Wartość user to nazwa pola która występuje w pliku ts   -->
      <input type="text" class="form-control" name="continentName" id="nameId" placeholder="Wprowadź Kontynent"
             [(ngModel)]="continent.name"/>
    </div>

    <!--(click) definiuje nazwę metody,  którą należy zdefiniować w ts a będzie wywołana na skutek wciśnięcia przycisku -->
    <button type="button" class="btn btn-warning" (click)="goBack()">Powrót do lity kontynentów</button>
    <button type="submit" class="btn btn-primary float-right">Zapisz</button>
  </form>
</div>
