<div class="container">
  <h2>Lista Krajów</h2>
  <a href="/country-update" role="button" class="btn btn-success">Dodaj Kraj</a>
  <p></p>

  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Kraj</th>
      <th scope="col">Kontynent</th>
      <th scope="col">Akcja</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let country of countries">
      <td>{{country.id}}</td>
      <td>{{country.name}}</td>
      <td>{{country.continentId.name}}</td>
      <td>
        <!--wywołanie w przeglądarce adresu -->
        <a href="/country-editor/{{country.id}}" role="button" class="btn btn-primary btn-sm">Modyfikuj</a>
        <!--przycisk działa -->
        <a type="button" class="btn btn-danger btn-sm" (click)="delete(country.id)">Usuń</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
