<div class="container">
  <h2>Lista Wycieczek</h2>
  <a href="/trip-update" role="button" class="btn btn-success">Dodaj Podróż</a>
  <p></p>

  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">wylot z</th>
      <th scope="col">przylot do</th>
      <th scope="col">Hotel</th>
      <th scope="col">Miasto</th>
      <th scope="col">data przyjazdu</th>
      <th scope="col">data wyjazdu</th>
      <th scope="col">liczba dni</th>
      <th scope="col">standard</th>
      <th scope="col">cena dla dorosłych</th>
      <th scope="col">cena dla dzieci</th>
      <th scope="col">promocja</th>
      <th scope="col">liczba osób</th>
      <th scope="col">opis</th>
      <th scope="col">Akcja</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let trip of trips">
      <td>{{trip.id}}</td>
      <td>{{trip.airportFrom.name}}</td>
      <td> {{trip.airportTo.name}}</td>
      <td> {{trip.hotelTo.name}}</td>
      <td> {{trip.cityTo.name}}</td>
      <td> {{trip.departureDate}}</td>
      <td> {{trip.returnDate}}</td>
      <td> {{trip.countOfDays}}</td>
      <td> {{trip.type}}</td>
      <td> {{trip.priceForAdult}}</td>
      <td> {{trip.priceForChild}}</td>
      <td> {{trip.promotion}}</td>
      <td> {{trip.countOfPerson}}</td>
      <td> {{trip.description}}</td>
      <td>
        <!--wywołanie w przeglądarce adresu -->
        <a href="/trip-editor/{{trip.id}}" role="button" class="btn btn-primary btn-sm">Modyfikuj</a>
        <!--przycisk działa -->
        <a type="button" class="btn btn-danger btn-sm" (click)="delete(trip.id)">Usuń</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
