<div class="container">
  <h2>Dodaj hotel</h2>
  <form (ngSubmit)="save()" #hotelForm="ngForm">
    <input type="hidden" name="hotelId" [(ngModel)]="hotel.id">

    <div class="form-group">
      <label for="nameId">Hotel</label>
      <input type="text" class="form-control" name="name" id="nameId" placeholder="Wprowadź Nazwę Hotelu"
             [(ngModel)]="hotel.name"/>

      <label for="standardId">Standard</label>
      <input type="text" class="form-control" name="nameStandard" id="standardId" placeholder="Wprowadź standard"
             [(ngModel)]="hotel.standard"/>

      <label for="descriptionId">Opis</label>
      <input type="text" class="form-control" name="nameDescription" id="descriptionId" placeholder="Wprowadź opis"
             [(ngModel)]="hotel.description"/>

      <label for="CityId">Id Miasta</label>
      <input type="text" class="form-control" name="cityName" id="CityId" placeholder="Wprowadź Id Miasta"
             [(ngModel)]="hotel.cityId"/>
    </div>
    <div class="form-group">
      <label for="power">Wyberz miasto z listy</label>
      <select class="form-control" id="power"
              [(ngModel)]="hotel.cityId" name="cityId" required>
        <option *ngFor="let city of cities" [value]="city.id"> {{city.name}}</option>
      </select>
    </div>

    <!--(click) definiuje nazwę metody,  którą należy zdefiniować w ts a będzie wywołana na skutek wciśnięcia przycisku -->
    <button type="button" class="btn btn-warning" (click)="goBack()">Powrót do lity hoteli</button>
    <button type="submit" class="btn btn-primary float-right">Zapisz</button>
  </form>
</div>
