<div class="container">
  <h2>Lista Lotnisk</h2>
  <a href="/airport-update" role="button" class="btn btn-success">Dodaj Lotnisko</a>
  <p></p>

  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Lotnisko</th>
      <th scope="col">Miasto</th>
      <th scope="col">Kraj</th>
      <th scope="col">Kontynent</th>
      <th scope="col">Akcja</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let airport of airports">
      <td>{{airport.id}}</td>
      <td>{{airport.name}}</td>
      <td>
        {{airport.cityId.name}}
      </td>
      <td>
        {{airport.cityId.countryId.name}}
      </td>
      <td>
        {{airport.cityId.countryId.continentId.name}}
      </td>
      <td>
        <!--wywołanie w przeglądarce adresu -->
        <a href="/airport-editor/{{airport.id}}" role="button" class="btn btn-primary btn-sm">Modyfikuj</a>
        <!--przycisk działa -->
        <a type="button" class="btn btn-danger btn-sm" (click)="delete(airport.id)">Usuń</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
